#title {
  background-color: #ff4c68;
}
h1 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 900;
  color: white !important;
}
.container-fluid {
  padding: 3% 15% !important;
}
body {
  font-family: Montserrat;
}
/* navitagtion bar */
.navbar-brand {
  font-family: Ubuntu !important;
  font-size: 2.5rem !important;
  font-weight: 400;
}
.navbar-brand {
  padding-left: 5%;
}
.navbar {
  padding-right: 1% !important;
}
.nav-item {
  padding: 0 10px !important;
}
